build-assets.json
info.txt

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
package-lock.json
*.log
*.gz
.nodemonignore
.sass-cache/
node_modules/
public/lib/
app/tests/coverage/
.bower-*/
.idea/
coverage/
npm-debug.log

# Visual Studio
# =========
*.suo
*.ntvs*
*.njsproj
*.sln
